<?xml version='1.0'?>
<!-- Copyright (c) TODO -->
<model>
  <name>small_pipeline_seafloor</name>
  <version>0.2.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Jeremy Coffelt</name>
    <email>jcoffelt@rosen-group.com</email>
  </author>
  <description>
    small_pipeline_seafloor
  </description>
</model>
