<?xml version="1.0"?>

<robot name="min_world">

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/terrains/min_world.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="0 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/terrains/min_world.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="0 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>        
    </link>

    <link name="surface">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/water/min_world.dae"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/water/min_world.dae"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_surface" type="fixed">
        <parent link="base_link"/>
        <child link="surface"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="anchor">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/anchor.dae"/>
            </geometry>
            <origin rpy="2.9 0.53 0.96" xyz="-13 -1.5 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/anchor.dae"/>
            </geometry>
            <origin rpy="-0.24 3.67 -2.18" xyz="-13 -1.5 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_anchor" type="fixed">
        <parent link="base_link"/>
        <child link="anchor"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="container">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/container.dae"/>
            </geometry>
            <origin rpy="2.27 1.40 1.57" xyz="40 -4.5 -19.4"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/container.dae"/>
            </geometry>
            <origin rpy="2.27 1.40 1.57" xyz="40 -4.5 -19.4"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_container" type="fixed">
        <parent link="base_link"/>
        <child link="container"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment1">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/clipped_vA.dae"/>
            </geometry>
            <origin rpy="0 0 2.36" xyz="-51.56 -15.14 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/clipped_vA.dae"/>
            </geometry>
            <origin rpy="0 0 2.36" xyz="-51.56 -15.14 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment1" type="fixed">
        <parent link="base_link"/>
        <child link="segment1"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment2">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 2.36" xyz="-44.49 -8.07 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 2.36" xyz="-44.49 -8.07 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment2" type="fixed">
        <parent link="base_link"/>
        <child link="segment2"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment3">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/bent.dae"/>
            </geometry>
            <origin rpy="0 3.14 2.36" xyz="-37.41 -1 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/bent.dae"/>
            </geometry>
            <origin rpy="0 3.14 2.36" xyz="-37.41 -1 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment3" type="fixed">
        <parent link="base_link"/>
        <child link="segment3"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment4">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-35 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-35 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment4" type="fixed">
        <parent link="base_link"/>
        <child link="segment4"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment5">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/anode.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-25 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/anode.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-25 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment5" type="fixed">
        <parent link="base_link"/>
        <child link="segment5"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment6">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/dented.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-15 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/dented.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-15 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment6" type="fixed">
        <parent link="base_link"/>
        <child link="segment6"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment7">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-5 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="-5 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment7" type="fixed">
        <parent link="base_link"/>
        <child link="segment7"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment8">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/warped.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="5 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/warped.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="5 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment8" type="fixed">
        <parent link="base_link"/>
        <child link="segment8"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment9">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="15 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="15 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment9" type="fixed">
        <parent link="base_link"/>
        <child link="segment9"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment10">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/valve.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="25 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/valve.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="25 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment10" type="fixed">
        <parent link="base_link"/>
        <child link="segment10"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment11">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="26 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="26 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment11" type="fixed">
        <parent link="base_link"/>
        <child link="segment11"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment12">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="36 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/straight.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="36 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment12" type="fixed">
        <parent link="base_link"/>
        <child link="segment12"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="segment13">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/clipped_vB.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="46 0 -20"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/pipes/clipped_vB.dae"/>
            </geometry>
            <origin rpy="0 0 1.57" xyz="46 0 -20"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_segment13" type="fixed">
        <parent link="base_link"/>
        <child link="segment13"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum1">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.57 -0.79 1.05" xyz="-39.5 -2 -19.8"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.57 -0.79 1.05" xyz="-39.5 -2 -19.8"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum1" type="fixed">
        <parent link="base_link"/>
        <child link="drum1"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum2">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.83 0 1.57" xyz="-44 2 -19.8"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.83 0 1.57" xyz="-44 2 -19.8"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum2" type="fixed">
        <parent link="base_link"/>
        <child link="drum2"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum3">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.48 0 2.44" xyz="-43 2.5 -19.7"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.48 0 2.44" xyz="-43 2.5 -19.7"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum3" type="fixed">
        <parent link="base_link"/>
        <child link="drum3"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum4">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.66 0 1.22" xyz="-43 1.5 -19.8"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.66 0 1.22" xyz="-43 1.5 -19.8"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum4" type="fixed">
        <parent link="base_link"/>
        <child link="drum4"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum5">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.40 0 1.22" xyz="-44 3 -19.8"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="1.40 0 1.22" xyz="-44 3 -19.8"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum5" type="fixed">
        <parent link="base_link"/>
        <child link="drum5"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum6">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="2.36 -0.87 0.58" xyz="-43.4 2 -19.4"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="2.36 -0.87 0.58" xyz="-43.4 2 -19.4"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum6" type="fixed">
        <parent link="base_link"/>
        <child link="drum6"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="drum7">
        <visual>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="3.37 4.10 5.25" xyz="-43.5 3.1 -19.5"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://remaro_worlds/models/objects/drum.dae"/>
            </geometry>
            <origin rpy="3.37 4.10 5.25" xyz="-43.5 3.1 -19.5"/>
        </collision>
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>  
    </link>

    <joint name="base_to_drum7" type="fixed">
        <parent link="base_link"/>
        <child link="drum7"/>
        <origin xyz="0 0 0"/>
    </joint>

</robot>