<?xml version='1.0'?>
<!-- Copyright (c) TODO -->
<model>
  <name>vertical_tank_quad</name>
  <version>0.2.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Jeremy Coffelt</name>
    <email>jcoffelt@rosen-group.com</email>
  </author>
  <description>
    vertical_tank_quad: part of the "3D Fuel Tank 4-X" collection
    created by Mykhailo Ohorodnichuk and currently available for free from TurboSquid
    at https://www.turbosquid.com/3d-models/3d-fuel-tank-1443266
  </description>
</model>
