<launch>
  <param name="jenga_wall_description" command="$(find xacro)/xacro '$(find remaro_worlds)/urdf/jenga_wall.urdf.xacro'" />

  <arg name="offset_x" default = "0" />
  <arg name="offset_y" default = "0" />
  <arg name="offset_z" default = "0" />

  <!-- BEGIN OBSTACLE 1-->
  <group ns="wall1">
    <param name="tf_prefix" value="wall1_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -32 -y 4 -z -20 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="wall1" />
    </include>
  </group>

  <!-- BEGIN OBSTACLE 2-->
  <group ns="wall2">
    <param name="tf_prefix" value="wall2_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -32 -y -4 -z -20 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="wall2" />
    </include>
  </group>

  <!-- BEGIN OBSTACLE 3-->
  <group ns="wall3">
    <param name="tf_prefix" value="wall3_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -13 -y -4 -z -20 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="wall3" />
    </include>
  </group>

    <!-- BEGIN OBSTACLE 4-->
  <group ns="wall4">
    <param name="tf_prefix" value="wall4_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -12 -y -2 -z -20 -R 0 -P 0 -Y 0" />
      <arg name="robot_name"  value="wall4" />
    </include>
  </group>


    <!-- BEGIN OBSTACLE 5-->
  <group ns="wall5">
    <param name="tf_prefix" value="wall5_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -12 -y 16 -z -20 -R 0 -P 0 -Y 0" />
      <arg name="robot_name"  value="wall5" />
    </include>
  </group>


    <!-- BEGIN OBSTACLE 6-->
  <group ns="wall6">
    <param name="tf_prefix" value="wall6_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -30 -y 20.9 -z -20 -R 0 -P 0 -Y 3.14" />
      <arg name="robot_name"  value="wall6" />
    </include>
  </group>


  <!-- BEGIN OBSTACLE 7-->
  <group ns="wall7">
    <param name="tf_prefix" value="wall7_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -24 -y 23 -z -20 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="wall7" />
    </include>
  </group>


  <!-- BEGIN OBSTACLE 8-->
  <group ns="wall8">
    <param name="tf_prefix" value="wall8_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -14 -y 33 -z -20 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="wall8" />
    </include>
  </group>


    <!-- BEGIN OBSTACLE 9-->
  <group ns="wall9">
    <param name="tf_prefix" value="wall9_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -41 -y 25 -z -20 -R 0 -P 0 -Y 0" />
      <arg name="robot_name"  value="wall9" />
    </include>
  </group>



    <!-- BEGIN OBSTACLE 10-->
  <group ns="wall10">
    <param name="tf_prefix" value="wall10_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -39 -y 42 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall10" />
    </include>
  </group>




    <!-- BEGIN OBSTACLE 11-->
  <group ns="wall11">
    <param name="tf_prefix" value="wall11_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -20 -y 42 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall11" />
    </include>
  </group>

      <!-- BEGIN OBSTACLE 12-->
  <group ns="wall12">
    <param name="tf_prefix" value="wall12_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -20 -y 13 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall12" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 13-->
  <group ns="wall13">
    <param name="tf_prefix" value="wall13_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -2 -y 42 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall13" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 14-->
  <group ns="wall14">
    <param name="tf_prefix" value="wall14_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x 2 -y 25 -z -20 -R 0 -P 0 -Y 0 " />
      <arg name="robot_name"  value="wall14" />
    </include>
  </group>



      <!-- BEGIN OBSTACLE 15-->
  <group ns="wall15">
    <param name="tf_prefix" value="wall15_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -3 -y -4 -z -20 -R 0 -P 0 -Y 0 " />
      <arg name="robot_name"  value="wall15" />
    </include>
  </group>



      <!-- BEGIN OBSTACLE 16-->
  <group ns="wall16">
    <param name="tf_prefix" value="wall16_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -3 -y -23 -z -20 -R 0 -P 0 -Y 0 " />
      <arg name="robot_name"  value="wall16" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 17-->
  <group ns="wall17">
    <param name="tf_prefix" value="wall17_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x 6 -y -6 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall17" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 18-->
  <group ns="wall18">
    <param name="tf_prefix" value="wall18_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -9 -y -36 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall18" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 11-->
  <group ns="wall19">
    <param name="tf_prefix" value="wall19_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -20 -y 42 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall19" />
    </include>
  </group>


      <!-- BEGIN OBSTACLE 20-->
  <group ns="wall20">
    <param name="tf_prefix" value="wall20_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -38 -y -34 -z -20 -R 0 -P 0 -Y 3.14 " />
      <arg name="robot_name"  value="wall20" />
    </include>
  </group>

        <!-- BEGIN OBSTACLE 21-->
  <group ns="wall21">
    <param name="tf_prefix" value="wall21_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -20 -y -19 -z -20 -R 0 -P 0 -Y 3.14 " />
      <arg name="robot_name"  value="wall21" />
    </include>
  </group>

        <!-- BEGIN OBSTACLE 22-->
  <group ns="wall22">
    <param name="tf_prefix" value="wall22_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -28 -y -36 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall22" />
    </include>
  </group>

        <!-- BEGIN OBSTACLE 23-->
  <group ns="wall23">
    <param name="tf_prefix" value="wall23_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -47 -y -19 -z -20 -R 0 -P 0 -Y -1.57 " />
      <arg name="robot_name"  value="wall23" />
    </include>
  </group>

        <!-- BEGIN OBSTACLE 24-->
  <group ns="wall24">
    <param name="tf_prefix" value="wall24_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x 8 -y -19 -z -20 -R 0 -P 0 -Y 3.14 " />
      <arg name="robot_name"  value="wall24" />
    </include>
  </group>

    <!-- BEGIN OBSTACLE 25-->
  <group ns="wall25">
    <param name="tf_prefix" value="wall25_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x 11 -y 11 -z -20 -R 0 -P 0 -Y 3.14" />
      <arg name="robot_name"  value="wall25" />
    </include>
  </group>

    <!-- BEGIN OBSTACLE 26-->
  <group ns="wall26">
    <param name="tf_prefix" value="wall26_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -49 -y -6 -z -20 -R 0 -P 0 -Y 3.14" />
      <arg name="robot_name"  value="wall26" />
    </include>
  </group>

    <!-- BEGIN OBSTACLE 27-->
  <group ns="wall27">
    <param name="tf_prefix" value="wall27_tf" />
    <include file="$(find remaro_worlds)/launch/spawn_jenga_wall.launch" >
      <arg name="init_pose" value="-x -49 -y 13 -z -20 -R 0 -P 0 -Y 3.14" />
      <arg name="robot_name"  value="wall27" />
    </include>
  </group>


  
</launch>