<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="sdf_object_file" default="" />
    <arg name="object_name" default="" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="R" default="0.0" />
    <arg name="P" default="0.0" />
    <arg name="Y" default="0.0" />

    <node
        name="$(arg object_name)_spawn_urdf"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file $(arg sdf_object_file) -sdf -x $(arg x) -y $(arg y) -z $(arg z)
                    -R $(arg R) -P $(arg P) -Y $(arg Y) -model $(arg object_name)"
    />

</launch>